mixin card-room(images,roomDetails)
  .card-room
    .card-room__slider
      .swiper-container.js-swiper-container.card-room__swiper-container
        .swiper-pagination.card-room__pagination
        .swiper-button-prev.card-room__button-prev
        .swiper-button-next.card-room__button-next
        .swiper-wrapper
          each val, index in images
            .swiper-slide.card-room__slide
              img(src=require("./images/" + val.src ).default alt="фотография конматы").card-room__slider-img
    .card-room__content
      .card-room__head
        span.card-room__number
          | № 
          span.card-room__head-num
            | #{roomDetails.number}
          span.card-room__type
            | #{roomDetails.type}
        span.card-room__head-price
          span.card-room__head-sum
            | #{roomDetails.priceForOneDay}₽ 
          | в сутки
      .card-room__bottom
        +rate-buttons()
        .card-room__reviews
          span.card-room__reviews-num
            | #{roomDetails.reviews} 
          | Отзывов