include ~components/like-button/like-button

mixin review({src: path, name, date, text, like, alt})
  .review
    .review__head
      img.review__avatar(src=require("./" + path).default alt=alt)
      .review__head-text
        .review__name #{name}
        .review__date #{date}
    .review__content
      .review__like-wrap
        +like-button({count: like})
      p.review__text #{text}
