include ~components/date-dropdown/date-dropdown
include ~components/dropdown-choose/dropdown-choose
include ~components/button/button

mixin card-book(details)
  -var { number, type, priceForOneDay, discount, taxes } = details
  .card-book.js-card-book
    .card-book__content
      .card-book__info
        span.card-book__room-number
          | № 
          span.card-book__num-sign
            | #{number}
          span.card-book__type
            | #{type} 
        span.card-book__price-wrapper
          span.card-book__price
            | #{priceForOneDay}₽ 
          | в сутки
      form.card-book__form
        .card-book__block
          +date-dropdown({
                title: "прибытие", 
                titleSecond: "выезд"
                })
        .card-book__block
          span.block-title
            | Гости
          +dropdown-choose({className: "dropdown-guests js-dropdown-guests", title:"Гости"})

        .card-book__block
          .card-book__calculation
            .card-book__calc-item
              span.card-book__price-for-one-day.js-card-book__price-for-one-day
                | #{priceForOneDay}₽ х 
                span.card-book__days.js-card-book__days
                  | 0 суток
              span.card-book__calc-sum.js-card-book__calc-sum
                | 0
                span.card-book__rub
                  | ₽
            .card-book__calc-item
              span.card-book__calc-option
                | Сбор за услуги: 
                span.card-book__discount.js-card-book__discount
                  | скидка #{discount}
              span.card-book__calc-info
                | i
              span.card-book__tax.js-card-book__tax
                | #{taxes[0]}
            .card-book__calc-item
              span.card-book__calc-option
                | Сбор за доп. услуги
              span.card-book__calc-info
                | i
              span.card-book__tax.js-card-book__tax
                | #{taxes[1]}₽
          .card-book__calc-total
            span.card-book__total
              | Итого 
            span.card-book__line
            span.card-book__total-price.js-card-book__total-price
              | 0₽
        +button({
          type: 'submit',
          modifiers: 'button_big button_with-icon',
          text: 'Забронировать'
        })