mixin subscription({title,placeholder, required})
	form.subscription
		label.subscription__label
			if title 
				span.subscription__title #{title}
			input.subscription__input(
				type="email" 
				name="input-subscription"
				placeholder=placeholder
				pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
				required=required
			)
			button(type="button").subscription__button


