mixin dateDropdown(title,type, placeholder, name, className)
	span.date-dropdown-wrapp
		label.title-element #{title}
			br
			input(type=type placeholder=placeholder name=name class=className).input.dropdown
			svg.icon-dropdown.expand-more
				use(xlink:href="#expand_more")
