mixin dateDropdown(title,type, placeholder, name, className)
	span.date-dropdown-wrapp
		label.input-title #{title}
			br
			input(type=type placeholder=placeholder name=name class=className).input.dropdown

