mixin input(idInput,wrappClass, type, placeholder, className, name, classNameForIcon, xlink, boolean)
		.input-container
			span.input-wrapper(class=wrappClass)
				input.input-wrapper__input(id=idInput type=type placeholder=placeholder class=className name=name readonly=boolean)
				svg(class=classNameForIcon)
					use(xlink:href=xlink)
