mixin input(wrappClass, type, placeholder, className, name, classNameForIcon, xlink, readOnly)
	.input-container
		span.input-wrapper(class=wrappClass)
			if readOnly
				input.input-wrapper__input(type=type placeholder=placeholder class=className name=name readonly)
				svg(class=classNameForIcon)
					use(xlink:href=xlink)
			else
				input.input-wrapper__input(type=type placeholder=placeholder class=className name=name)
				svg(class=classNameForIcon)
					use(xlink:href=xlink)
				
