mixin input(title, wrappClass, type, placeholder, className, name, classNameForIcon, xlink, boolean)
	label(for=inputWrapper).title-element #{title}
		br
		span.input-wrapper(class=wrappClass)
			input.input-wrapper__input(type=type placeholder=placeholder class=className name=name readonly=boolean)
			svg(class=classNameForIcon)
				use(xlink:href=xlink)
