mixin rate(boolen)
	.rate
		label.rate__star-wrap
			input.rate__rating(type="radio" name="example" value="1" disabled=boolen)
			svg.rate__star
				use(xlink:href="#star")
		label.rate__star-wrap
			input.rate__rating(type="radio" name="example" value="2" disabled=boolen)
			svg.rate__star
				use(xlink:href="#star")
		label.rate__star-wrap
			input.rate__rating(type="radio" name="example" value="3" disabled=boolen)
			svg.rate__star
				use(xlink:href="#star")
		label.rate__star-wrap
			input.rate__rating(type="radio" name="example" value="4" disabled=boolen)
			svg.rate__star
				use(xlink:href="#star")
		label.rate__star-wrap
			input.rate__rating(type="radio" name="example" value="5" disabled=boolen) 
			svg.rate__star
				use(xlink:href="#star")