mixin textField({title, type, placeholder,pattern, required})
	label.textfield
		span.textfield__title #{title}
		input.textfield__input(
			type=type 
			name=type
			placeholder=placeholder
			pattern=pattern 
			required=required
		)


