mixin textField({title, type, placeholder, required, pat})
	label.textfield
		span.block-title #{title}
		input.textfield__input(
			type=type 
			name=type
			placeholder=placeholder
			pattern=pat 
			required=required
		)


