mixin masked-text-field({title, type, placeholder,className})
  label.masked-text-field
    span.block-title #{title}
    input.masked-text-field__input(type=type placeholder=placeholder name=type class=className)
