mixin masked-textfield({title, type, placeholder,className})
  label.masked-textfield
    span.block-title #{title}
    input.masked-textfield__input(type=type placeholder=placeholder name=type class=className)
